
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PhpStorm <###
/.idea/

###> symfony/framework-bundle ###
/.env
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/public/uploads/*
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/translations/*
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

.DS_Store
assets/.DS_Store
assets/js/.DS_Store
public/.DS_Store
updateProd.sh

config/services.yaml
/*.txt

/public/favicon.ico
/public/apple-touch-icon.png
/public/favicon.png

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
