body, html {
    /*background: #eff3f6;*/
    font-family: Poppins, sans-serif;
}
#preloader {
    background-color: rgba(239, 243, 246, 0.5);
}
img {
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}
.form-group {
    margin-bottom: 1rem;
}
.site-name {
    color: var(--ivory);
    text-transform: uppercase;
    font-size: 1.25em;
}
.input-group .btn {
    z-index: 1;
}
.choices__list--dropdown {
    z-index: 5;
}
button.border-red {
    border: 1px solid red !important;
}
.bg-ivory {
    background: var(--ivory) !important;
}
.choices {
    margin-bottom: 0;
}
.choices__list--dropdown .choices__item,
.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding: 10px;
    white-space: nowrap;
}
.chosen-container.form-control {
    border: none !important;
    padding: 0 !important;
}
.chosen-container {
    font-size: 12px !important;
}
.input-group .chosen-container {
    width: auto !important;
}
.input-group .chosen-container > a {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
