<div class="card">
    <div class="card-header border-bottom-dashed">
        <div class="row g-4 align-items-center">
            <div class="col-sm">
                <h5 class="card-title mb-0 d-flex align-items-center">
                    <i class="ri-ruler-line fs-4 me-1"></i>
                    {{ 'ui.measurements'|trans }}
                </h5>
            </div>
        </div>
    </div>
    <div class="card-body text-center">

    </div>
</div>